
body {
	font-family: 'Open Sans';
}


header {
	float: right;
text-align: left;
padding: 18px, 0;
height: 1em;
background: white;
margin-top: 1em;

}

#logo_home {
	width: 5%;
	display: inline-block;
	margin: 20px;
	align-content: center;
}

#intro {
background: url('intro_img.jpg');
background-size: cover;
height: 90vh;
font-family: 'pacifico'; 
text-align: center;
float: center;

}

nav{
font-size: 14px;
float: right;
text-align: center;
clear: both;	
width: 100%;
padding: 1em;
}

nav a { 
	text-decoration: none;
 	color: black;
 	margin: 20px;
 	display: inline-block;
 	text-align:  center;
 	float: right;
 	font-family: 'open sans';
}


h1 {
	text-align: center;
	float: center;
	color: white;
	height: 90vh;
	padding: 200px;
	font-size: 40px; 
}

p{ margin-top: 1em;
margin-bottom: 0;
margin-right: 1em;
padding-right: 2em;
float: right;

}


#about {
	max-width: 800px;
	padding-top: 1em; 
	margin: auto;
	width: 100%;
}

#about img {
	float: left; 
	width: 25%;
	padding top: 20px;
	padding right: 20px;
margin top: 10px;
border: 10px;
}

h2 { 
	font-size: 2em;
float: center;
text-align: center
padding-top: 1em;
padding-bottom: 1em;
margin: 1em;
padding-right: 1em;
 }

