
body {
	font-family: 'Open Sans';
}


header {
padding: 18px, 0;
height: 1em;
background: white;
margin: 1em;


}

#logo_home {
	width: 5%;
	display: inline-block;
	margin: 20px;
	padding: 1em;
}

#intro {
background: url('intro_img.jpg');
background-size: cover;
height: 90vh;
font-family: 'pacifico'; 
text-align: center;
float: center;

}

nav{
font-size: 14px;
float: right;
text-align: center;
clear: both;	
width: 100%;
padding: 1em;
}


nav a { 
	text-decoration: none;
 	color: black;
 	margin: 20px;
 	display: inline-block;
 	text-align:  center;
 	float: right;
 	font-family: 'open sans';

}


h1 {
	text-align: center;
	float: center;
	color: white;
	height: 90vh;
	padding: 200px;
	font-size: 40px; 
}


#about {
	float: center;
	max-width: 800px;
	padding-top: 1em; 
	margin: 2em;
	width: 100%;
}

#about img {
	float: center; 
	width: 25%;

}

h2 { 
	text-align: center;
	font-size: 2em;
padding-top: 1em;
padding-bottom: 1em;
margin left: 2em;
border-left: 2em;
 }

