
body {
	font-family: 'Open Sans';
}


header {
background: white;
height: 60px;
margin: -5px;
width: 100%;
}

#logo_home {
	float: left;
	width: 3%;

}

#intro {
background: url('intro_img.jpg');
background-size: cover;
height: 90vh;
font-family: 'pacifico'; 
text-align: center;
float: center;

}

nav{
font-size: 14px;
float: right;
text-align: center;
clear: both;	
width: 100%;
}


nav a { 
	text-decoration: none;
 	color: black;
 padding: 10px; 
 display: inline-block;
 	text-align:  right;
 	float: right;
 	font-family: 'open sans';

}


h1 {
	text-align: center;
	float: center;
	color: white;
	height: 45vh;
	font-size: 40px; 
	margin: 2em;
}


#about {
	float: center;
	max-width: 800px;
	padding-top: 2em; 
	width: 100%;
	height: 60vh;
}

h2 { 

	text-align: center;
	font-size: 2em;
	padding: 1em;
	margin: 1em;
	width: 100%;
	position: absolute;
 }

