body{ 
font-style: Avenir;
 }
header {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
nav { 
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
 }
aside {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	margin: 0 right;
}

#two_column {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 62%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear:both;
	height: 0;
}

footer{
	background-color: white;
	border: 1px black solid;
	padding: 20px;
	margin:0 auto;
}

div{
	background-color: white;
	border: 1px black solid;
	padding: 20px;
}

.kyoto {
	width: 30.33%
	margin 1.5%;
	float: left;
	position: relative;
}

.kyoto img{ width: 100%;
display: block; 
 }

@media screen and (max-width:970px){
	.citytokyo{
		width: 40%;
		height: 375px;
		align-content: center;




