body{ 
font-family: 'open sans', sans-serif; 


}

h2 { 
	
	display: inline-block;
	font-family: 'Pacifico';
	font-size: 16px;
	text-align: center;
padding: 13px 0;
color: white;
border-bottom-color: #fffebb;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	float: center;
	font-size: 20px;
	width: 50%;
	height: 100px;
	text-align: center; 
	line-height: 100px;
	color: black;
	background: white;
}

div { 
padding: 30px;
 }


nav { 
font-size: 16px;
float: center;
 }

 nav a {
 	text-decoration: none;
 	color: black;
 	margin: 20px;
 	display: inline-block;
 	text-align:  center;
 }


footer {

	text-align: center;
	border-top: 1px solid black;
	padding: 18px 0;
	margin-top: 40px;
	clear: both;	
}

img { 
display: block; 
margin: 0 auto; 
clear: both;
width: 480px;
}

section { background: #222222;
color: white;
overflow: auto;
 }

 #about {
 	font-size: 16px;
 	width: 40%;
 	display: inline-block;
 	text-align: center;
 }

 #catalog { 
 	font-size: 22px;
 	width: 40%;
 	float: right; }
 }

 @media screen and (max-width:800px) {
nav {
	float: none; 
}

nav { float: none;
 }
nav a { 
margin: 0 1.6em .75em 0;
 }

 img { 
 width: 320px; 
  }

}

@media screen and(max-width:480px) {
h2, nav {
	display: block;
	text-align: center; 
}

h2 {
	font-size: 1em;
	display: inline;
}
p, ul { 
margin: 1.8em .6em 0;
 }

 li { width: 80%;
 outline-width: .5em;
 padding: .5em;
 height: 2em;
 line-height: 2em;
  }
 nav a { 
 margin: 0 1em 1em;
  }

  img {
  	width: 230px;
  }

  section, div { 
  width: 100%;
  padding: .6em;
   }

   #catalog { 
   float: none; 
   font-size: 1.4em;
    }
}



