title{
	font-family: Gotham; 
	font-weight: bold;

}
header {
	
	background-color: white;
	padding: 14px 16px;
	text-decoration: none;
	

}

body {
	color:#000;
	font-family: Gotham;
	font-size: 16px;
	text-align: center;
	background: url("https://i.imgur.com/pDrRgn7.jpg");
	background-size: cover;
}
section {
	text-align: center;
	color:#000; 
	height: 300vh;
	
}
.nav-menu-item {


	margin-right: 50px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	padding: 30px
	word-spacing: 30px;
	margin: 0;
	overflow: hidden;
	list-style-type: none;

}

h1 {

	text-align: center;
	font-size: 4em;
	letter-spacing: .25em;



}