header {
	background-color: white;
	padding: 1em;
}
body {
	text-align: center;
	background: url("https://i.imgur.com/7E8nCbX.png");
	background-size: cover;
	color #ffffff;
	font-family: Century, sans-serif;
}
nav {

	font-size: 25px;
	color #ffffff
	text-align: center;
	width: 100%;
}

h1 {

	text-align: center;
	font-size: 2em
	letter-spacing: .25em;

}